.reveal blockquote {
  display: block;
  position: relative;
  width: 90%;
  margin: 5px auto;
  padding: 5px;

  font-style: normal;
  background: #C6D7DC;
  border: 1px solid #C6D7DC;
  box-shadow: none;
}

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: block;
}

.reveal blockquote:before {
  content: '';
}

.reveal blockquote:after {
    content: '';
}
